<!DOCTYPE html>

<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link th:href="@{/vendor/bootstrap/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Noticias</title>
</head>
<body>
    <div th:include="/principal/principal_templates.html::header"></div>

    <div id="bg" class="container-fluid">
        <br>
        <div class="card" style="width: 60rem; margin: 0 auto;">
            <div class="card-head">
                <h3 class="card-title mt-2" style="text-align: center;">Noticias</h3>
            </div>
            <div class="card-body card-body-limit">
                <div class="table-responsive-sm">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" style="width: 15%;">Titulo</th>
                                <th scope="col">Contenido</th>
                                <th scope="col" style="width: 14%;">Ver Noticia</th>
                                <th scope="col" style="width: 10%;">Editar</th>
                                <th scope="col" style="width: 10%;">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <tr th:each="noticia:${noticias}">
                                <td class="text-truncate" th:text="${noticia.titulo}" style="max-width: 100px; width: 100px;"></td>
                                <td class="text-truncate" th:text="${noticia.cuerpo}" style="max-width: 540px; width: 540px;"></td>
                                <td><a class="btn btn-primary" th:href="@{/show/{id} (id=${noticia.id})}">Ver Noticia</a></td>
                                <td><a class="btn btn-warning" th:href="@{noticia/edit/{id} (id=${noticia.id})}">Editar</a></td>
                                <td><a class="btn btn-danger" th:href="@{noticia/delete/{id} (id=${noticia.id})}">Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div th:include="/principal/principal_templates.html::footer"></div>
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>